{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"prettier",
		"airbnb",
		"airbnb/hooks",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
		"react/react-in-jsx-scope": "off",
		"import/extensions": "off"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}
